/build/
/.vs/
/_links/
/shimmer_game_app/
/shimmer_project/
/ida/
*.dll
*.exe
*.pdb
*.obj
*.zip
*.log
*.ini
*.i64
*.id0
*.id1
*.id2
*.nam
*.til
*.user
*.suo
*.new
__pycache__/
*.pyc
/src/generated_motion_curves.h
/dump.cs
/runtime_script.json
